
<% @cart.orderables.each do |orderable| %>
  <% produit = orderable.produit %>
  <div id="<%= "cart-#{produit.id}" %>">
    <div style="display:flex;justify-content:space-between;margin: 0em 5em;margin-bottom:10px">
      <strong>Name:</strong>
      <%= produit.nom %>
      <strong>Description:</strong>
      <%= produit.description %>
      <strong>Price:</strong>
      <%= produit.prix %>
      <%= form_with(url: cart_add_path) do |f| %>
        <%= f.hidden_field :id, value: produit.id %>
        <%= f.number_field :quantity, value: orderable.quantity, min: 0 %>
        <%= f.submit "Add To Cart" %>
      <% end %>
      <%= form_with(url: cart_remove_path) do |f| %>
        <%= f.hidden_field :id, value: orderable.id %>
        <%= f.submit "X" %>
      <% end %>
      <strong>Total:</strong>
      <%= orderable.total %>
    </div>
  </div>
<% end %>
