
  <div class="container mx-auto">
  <div class="row justify-content-center">
    <% @produitss.each do |produit| %>
      <div class="col-md-4">
        <div class="card mb-3" style="max-width: 245px;">
          <%= link_to produit_path(produit) do %>
            <%= image_tag produit.image, class: "card-img-top", style: "object-fit: cover; height: 246px;" %>
          <% end %>
          <div class="card-body text-center">
            <h5 class="card-title textt"><%= produit.nom %></h5>
            <p class="card-text textt"><%= number_to_currency(produit.prix, unit: "", delimiter: " ", separator: ",", format: "%n %u") %> &euro;</p>
            <div class="addpanier">
              <% if !current_user.admin %>
                <%= form_with(url: cart_add_path) do |f| %>
                  <%= f.hidden_field :id, value: produit.id %>
                  <%= f.number_field :quantity, value: 0, min: 1 , class: "small-number-field" %>
                  <%= f.submit "Add To Cart", class: "btn btn-primary" %>
                <% end %>
              <% end %>
            </div>
            <%#= link_to 'Lire plus', produit_path(produit), class: 'btn btn-primary' #%>
            <% if current_user.admin %>
              <%= link_to 'Modifier', edit_produit_path(produit) %> | 
              <%= link_to 'Supprimer', produit, method: :delete, data: { confirm: 'Etes vous sûre?' } %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>