<div class="container">
<div class="row show">

<div class="col-md-6 colshow ">
<div class="col ">

</div>

<div class="col textes">

<div class="">
  <strong>Nom:</strong>
  <%= @produit.nom %>
</div>

<div >
  <strong>Description:</strong>
  <%= @produit.description %>
</div>

<div>
<strong>Prix:</strong>
<%= @produit.prix %>
</div>

<div class"categorie" style= "margin-bottom:10px">
  <strong>Categorie:</strong>
  <%= @produit.categorie.nom %>
</div>

<%= form_with(url: cart_add_path) do |f| %>
  <%= f.hidden_field :id, value: @produit.id %>
  <%= f.number_field :quantity, value: 0, min: 1 , class: "small-number-field" %>
  <%= f.submit "Add To Cart", class: "btn btn-primary" %>
<% end %>

</div>
</div>
</div>
<%if current_user.admin %>
<%= link_to 'Modifier', edit_produit_path(@produit) %> |
<% end %>
<%= link_to 'Retour', produits_path %>
 </div>