
<div class ="container-fluid">
<div class="row shadow p-3 mb-3 bg-white rounded" style="width: 50% !important; margin-left: auto; margin-right: auto;margin-top:70px !important">
<div class="col-md-6" style="height:100%">
<%= image_tag ("Rectangle 72.png"), class: "image2" %>
</div>
<div class="col-md-6">
<h2 style="margin-bottom:10px !important;margin-top:10px;margin-bottom:20px" >Connexion</h2>
<p class="thicker-hr"></p>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email , class: "form-control", autofocus: true, autocomplete: "email" %>
  </div>

  <div class="form-group mb-3">
    <%= f.label :password %><br />
    <%= f.password_field :password , class: "form-control", autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
  <div class="field">
      <%= f.check_box :remember_me  %>
      <%= f.label :se_souvenir_de_moi %>
    </div>
  <% end %>

  <div class="form-group mb-3" >
  <%= f.submit "Log in",class: "btn btn-primary bt" %>
</div>
<% end %>

<div class="connexion" style="font-size:14px">
Avez-vous deja un compte ?<%= render "devise/shared/links" %>
</div>
</div>


